.settings-content {
  --background: #191917;
}
.settings-grid {
  background: #232623;
}
.settings-row1 {
  padding: 5%;
  font-size: 23px;
}
ion-item {
  padding-top: 2%;
  padding-bottom: 2%;
}
.setting-row {
  padding: 4%;
  font-size: 2rem;
}
