.feed-content {
  --background: linear-gradient(#24383f, #24383f);
}
.feed-grid {
  background: #132124;
  margin: 10px;
}
.menu-icon {
  width: 22px;
  height: 22px;
}
.heart-icon {
  width: 22px;
  height: 22px;
  padding: 5%;
}
.comment-icon {
  width: 20px;
  height: 20px;
  padding: 5%;
}
.icon-col {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
}
.feed-card {
  border-radius: 20px;
}
.card-div {
  display: flex;
  flex-direction: column;
}
.username-row {
  color: white;
  display: flex;
  justify-content: center;
  padding: 4%;
  align-items: center;
}
.username-col {
  padding: 0%;
  display: flex;
 flex-direction: column;
 justify-content: center;
 /* align-items: center; */
  padding-left: 5%;
}
.hello{
  
}
.card-caption {
  color: whitesmoke;
  font-size: 12px;
  /* padding: 4%; */
  opacity: 0.8;
}
.add-btn {
  width: 40px;
}
.edit-delete {
  display: flex;
  flex-direction: column;
}
.edit-btn {
  height: 40px;
}
.search-row {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}
.search-row1 {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-right: 1.5%;
  align-items: center;
}
.col2 {
  display: flex;
  justify-content: flex-start;
}
.col3 {
  display: flex;
  justify-content: flex-end;
}
.icon {
  padding-left: 2%;
  padding-right: 3%;
}
.img-row{
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
.caption-row{
  /* padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%; */
  padding: 4% ;
}
/*  */

