:root {
  --ion-color-lightgreen: #24383f;
  --ion-color-lightgreen-rgb: 36, 56, 63;
  --ion-color-lightgreen-contrast: #ffffff;
  --ion-color-lightgreen-contrast-rgb: 255, 255, 255;
  --ion-color-lightgreen-shade: #203137;
  --ion-color-lightgreen-tint: #3a4c52;
}
.ion-color-lightgreen {
  --ion-color-base: var(--ion-color-lightgreen);
  --ion-color-base-rgb: var(--ion-color-lightgreen-rgb);
  --ion-color-contrast: var(--ion-color-lightgreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightgreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightgreen-shade);
  --ion-color-tint: var(--ion-color-lightgreen-tint);
}
.tab1mainpage {
  --background: linear-gradient(#132124, #132124);
    /* --background: linear-gradient(#24383f, #24383f); */
    /* --background: linear-gradient(rgb(19, 33, 36, 0.3), rgb(19, 33, 36, 0.3)),
    url("../../../../public/assets/images/Get-Started1.png") no-repeat center/cover
      fixed;
  z-index: -999; */
}

.card-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logout {
  display: flex;
  justify-content: center;
}
.danni-img {
  width: 50px;
  border-radius: 100px !important;
}
.danni-col {
  border-radius: 30px;
}
.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
}
.danni-row {
  display: flex;
  align-items: center;
  padding: 4%;
  font-size: 12px;
}
.danni-label {
  padding: 5px;
  margin-left: 7px;
}
.tab1-grid {
  background: #24383f;
  border-radius: 30px 30px 0 0;
}
