:root {
	--ion-color-new: #24383F;
	--ion-color-new-rgb: 36,56,63;
	--ion-color-new-contrast: #ffffff;
	--ion-color-new-contrast-rgb: 255,255,255;
	--ion-color-new-shade: #203137;
	--ion-color-new-tint: #3a4c52;
}

.ion-color-new {
	--ion-color-base: var(--ion-color-new);
	--ion-color-base-rgb: var(--ion-color-new-rgb);
	--ion-color-contrast: var(--ion-color-new-contrast);
	--ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
	--ion-color-shade: var(--ion-color-new-shade);
	--ion-color-tint: var(--ion-color-new-tint);
}
.login-main-div{

}
