.new-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.img {
  height: 300px;
}
.title {
  font-size: 1.7rem;
}
.back-icon {
  width: 45px;
  height: 45px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-icon {
  width: 35px;
}
.post-btn {
  height: 30px;
}
.newpost-row {
  display: flex;
  align-items: center;
}
.newpost-avatar {
  --border-radius: 10%;
}
.newpost-row {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
.btn-class {
  display: flex;
  align-items: center;
}
.file-name {
  padding: 2%;
}
.newpost-card {
  margin: 0%;
  border-radius: 0%;
}
